<div class = "container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="http://appleplay.tw">ApplePlay</a>
            by <a href="#">Glee</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "about",about_path %></li>
            </ul>
        </nav>
    </footer>
</div>